.dog-images {
  height: auto;
  width: 70px;
  margin: 5px;
}

.meme-images {
  height: auto;
  width: 50px;
  margin: 5px;
}

#pokemon-form {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}

#name-input {
  width: 300px;
}

#beer-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#beer-section th,
#beer-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#beer-section th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

#beer-section tr:nth-child(even) {
  background-color: #f9f9f9;
}

#beer-section tr:hover {
  background-color: #f1f1f1;
}

#beer-section td {
  color: #666;
}

#beer-section a {
  color: #007bff;
  text-decoration: none;
}

#beer-section a:hover {
  text-decoration: underline;
}
